*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background:#ece1de;
}


nav{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

 a{
    text-decoration: none;
    color: #fff;
    background: #f3a1ac;
    padding: 10px 20px;
    border-radius: 45px;
    transition: 0.2s;
    cursor: pointer; 
    font-size: 17px;

} 

header{
    width: 100%;
    padding: 30px 0;
    background: #ecb1b1;
}

main{
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer{
    /* width: 100%;
    padding: 20px 0; 
    background:#e6e4e4; */
    color: #fff;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

tr:nth-child(even){
    background: #ffdddd;
}

tr{
    border-bottom: 1px solid #942626;
}

th, td{
    padding: 10px 20px;
    text-align: left;
}

h1{
    color: #fff;
    text-align: center;
}

form{
    width: 100%;
    max-width: 500px;
    padding: 20px;
    background:#ece1de;
    border-radius: 5px;
    margin: 20px 0;
}

input, textarea{
    width: 30vw;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid#ffffff;
    border-radius: 34px;
    outline: none;
    
}

select {
    border-radius: 42px;
    width: 565px;
    padding: 10px;
    margin: 5px 0;
    border: 2px solid#ffffff;
    outline: none; 


}

.botao {
    height: 40px;
    width: 566px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #ec8f8f;
    overflow: hidden;
    border-radius: 30px;
    color: #000000;
    transition: all 0.5s ease-in-out;
  }
  
  .botao-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .botao::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .botao:hover {
    box-shadow: 1px 1px 200px #e97b7bc4;
    color: #ec6a6a;
    border: none;
  }
  
  .botao:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

  

  .acesso{
    margin: 47px;
    margin-top: 64px;
    text-decoration: none;
    color: #fff;
    background: #f3a1ac;
    padding: 10px 20px;
    border-radius: 45px;
    transition: 0.2s;
    cursor: pointer; 
    font-size: 1px;
    margin-left: -1470px;
  }

  .botton {
    height: 40px;
    width: 146px;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 3px solid #ec8f8f;
    overflow: hidden;
    border-radius: 30px;
    color: #000000;
    transition: all 0.5s ease-in-out;
  }
  
  .botton-txt {
    z-index: 1;
    font-weight: 800;
    letter-spacing: 4px;
  }
  
  .botton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: #ec8a8acc;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
  }
  
  .botton:hover {
    box-shadow: 1px 1px 200px #e97b7bc4;
    color: #ffffff;
    border: none;
  }
  
  .botton:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
  }

 .ft{

  margin-left: 89px;

 }